body { background-color: rgb(104, 255, 4);
color: blue; 
font-size: 40px; 
font-family: 'Times New Roman', Times, serif;
justify-content: center;
justify-items: center;
text-align: center;
text-align: center;
}
